{% extends "base.html"%} {% block body_block %}
<div>
  <div class="detail-cont">
    <div>
      <h3 class="details-head">contact</h3>
    </div>
    <div>
      <h3 class="details-head">address</h3>
    </div>
    <div id="contact">
      <h3 id="customer-name">{{customer_detail.name}}</h3>
      <h4 id="customer-contact">{{customer_detail.contact}}</h3>
      <h5 id="customer-email">{{customer_detail.email}}</h3>
    </div>

    <div id="address">
      <h3 id="customer-add">{{customer_detail.address}}</h3>
      <h4 id="customer-city">{{customer_detail.city}}</h3>
      <h5 id="customer-state">{{customer_detail.state}}</h3>
    </div>
  </div>
  <div id="table-1">
    {% if customer_detail.customer.all %}
    <table class="customer-list-table-1">
      <tr class="list-tr">
        <th class="list-th">ID</th>
        <th class="list-th">ITEM NAME</th>
        <th class="list-th">ITEM COST</th>
        <th class="list-th">ITEM QUANTITY</th>
        <th class="list-th">EDIT</th>
      </tr>
      {% for order in customer_detail.customer.all%}
      <tr class="list-tr">
        <td class="list-td">{{order.id}}</td>
        <td class="list-td">{{order.item_name}}</td>
        <td class="list-td">{{order.item_cost}}</td>
        <td class="list-td">{{order.item_quantity}}</td>
        <td class="list-td">{{order.order_status}}</td>
        <td class="list-td"><button class="Edit-btn">Edit</button></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div>
        <h1 id="no-orders">NO ORDERS!!</h1>
        <a href="{% url 'app:createOrder'%}"><button class="btn-all">Create Order</button></a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
