{% extends "base.html"%} {% block body_block %}
<div id="search-box">
  <!-- <input type="text" placeholder="Search Here..." class="serach-customer">
  <button type="submit" id="search-btn" >Reset</button> -->
  <form method="get">
    {{filters.form.as_p}}
    <button type="submit" id="search-btn" >Search</button>
  </form>

</div>
{% if filters.qs%}
<div id="table-1">
  <table class="customer-list-serachtable-1">
    <tr class="list-tr">
      <th class="list-th">ID</th>
      <th class="list-th">NAME</th>
      <th class="list-th">CONTACT</th>
      <th class="list-th">EMAIL</th>
      <th class="list-th">CITY</th>
      <th class="list-th">STATE</th>
      <th class="list-th">EDIT</th>
    </tr>
    {% for customer in filters.qs%}
    <tr class="list-tr">
      
      <td class="list-td">{{ customer.id}}</td>
      <td class="list-td"><a href="{% url 'app:customerDetails' pk=customer.id %}">{{customer.name}}</a></td>
      <td class="list-td">{{customer.contact}}</td>
      <td class="list-td">{{customer.email}}</td>
      <td class="list-td">{{customer.city}}</td>
      <td class="list-td">{{customer.state}}</td>
      <td class="list-td"><a href="{% url 'app:updateCustomer' pk=customer.id %}"><button class="Edit-btn">Edit</button></a></td>
    </tr>
    {% endfor %}
</div>
{% else %}
<h1 id="no-results">No Results</h1>
{% endif %}
{% endblock %}
