{% extends "base.html"%} {% block body_block %}
<div id="table-1">
    {% if dispatchedList%}
    <table class="customer-list-table-1">
        <tr class="list-tr">
          <th class="list-th">ID</th>
          <th class="list-th">CUSTOMER</th>
          <th class="list-th">ITEM NAME</th>
          <th class="list-th">ITEM COST</th>
          <th class="list-th">ITEM QUANTITY</th>
          <th class="list-th">ORDER PLACED AT</th>
          <th class="list-th">ORDER STATUS</th>
          <th class="list-th">MORE DETAILS</th>
          <th class="home-th">EDIT</th>
        </tr>
        {% for order in dispatchedList %}
        <tr class="list-tr">
          
          <td class="list-td">{{ order.id}}</td>
          <td class="list-td"><a href="{% url 'app:customerDetails' pk=order.customer.id %}">{{order.customer}}</a></td>
          <td class="list-td"><a href="{% url 'app:itemList' slug=order.item_name %}">{{order.item_name}}</a></td>
          <td class="list-td">{{order.item_cost}}</td>
          <td class="list-td">{{order.item_quantity}}</td>
          <td class="list-td">{{order.date}}</td>
          <td class="list-td">{{order.order_status}}</td>
          <td class="order-list-td"><a href="{% url 'app:orderDetails' pk=order.id %}"><button class="Edit-btn">Click here</button></a></td>
          <td class="list-td"><a href="{% url 'app:updateOrder' pk=order.id %}"><button class="Edit-btn">Edit</button></a></td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
    <div>
        <h1 id="no-orders">NO ORDERS!!</h1>
    </div>
    {% endif %}
</div>
{% endblock %}
