{% extends "base.html"%} {% block body_block %}
<div>
<form method="post" class="cont-2">
    {% csrf_token %}
    <div>
        <h5 class="order-input-label">{{form.customer.label}}</h5> <br/>
    {{form.customer}}
    </div>
    <div>
        <h5 class="order-input-label">{{form.item_name.label}}</h5><br/>
    {{form.item_name}}
    </div>
    <div>
        <h5 class="order-input-label">{{form.item_cost.label}}</h5><br/>
    {{form.item_cost}}
    </div>
    <div>
        <h5 class="order-input-label">{{form.item_quantity.label}}</h5><br/>
    {{form.item_quantity}}
    </div>
    <div>
        <h5 class="order-input-label">{{form.order_status.label}}</h5><br/>
    {{form.order_status}}
    </div>
    <input type="submit" value="Create" class="btn-2">
</form>
</div>
{% endblock %}